<body>
    <h1><i> About Me</i></h1>
        <p>I am currently an M.S Computer Science graduate since May 2024. Through my time at the University of Minnesota Twin Cities, I have gotten involved in a wide range of disciplines which has given me valuable leadership and teamworking skills. <br>
            <br>
            My favorite experiences include: <br>
            ● Becoming a Teaching Assistant in CSCI 1133: Introduction to Computing and Programming Concepts (Python). <br>
            ● Working on a 3d printed cost efficient prosthetic for patients suffering from oral cancer (currently patent pending!) with 3 fellow student researchers. <br>
            
            <br>These roles gave me access to applying computer science principles to a broader scope, allowing me to only strengthen my foundational coding abilities. 
            These campus experiences allowed me to be successful during my internships as an Autonomous Operations Intern with Intel Corporation, and a SWE intern at Target Corporation. I worked as a project lead at Intel, collaborating with 2 other interns, developing a full stack utility which would automate validations a factory worker would have done manually. This included UI, UX, backend, suggesting new improvements to the product owner, revising and revalidating code to prevent bugs, and cleaning up and documenting code. At Target Corporation I built the diagnostics component for a Language Server Protocol for Sigma Language in Javascript & Typescript using partner programming. <br>
            
            <br>I love the amount of growth and opportunity in this field of computer science, and I personally believe that our future is based on technology and the innovations of existing technologies. I am especially interested to see how computing can be used to change the way we think and look at various situations as part of our future’s growth. Through more corporate experience, I hope I can continue to be innovative, and create products that can benefit people. 
             <br></p>
    </body>
    </html>