<body>
    <h1><i> My Projects</i></h1>
        <p> SAFE-U BY-U: A High Fidelity Figma Prototype, Low Fidelity Wireframes using Adobe Illustrator <br>
            ● Conducted qualitative user interviews with 10 students- to help design an intuitive user interface for Safe U by U a mobile app for students to easily access campus safety resources, and alleviate their stress navigating campus at night. <br>
            ● Conducted intensive user research & evaluation: Surveys and Interviews, Cognitive Walkthroughs, Heuristic Evaluations, High Fidelity Usability Testing, Research Protocols, Consent Forms, and User Testing Plans.  <br>
            
            <br>

            SKINEASY: Web Application (Python Flask) <br>
            ● Built a personalized recommendation system to select skincare products which suit the user's needs. <br>
            ● Used: Native Javascript, HTML, and PureCSS as the primary client-side frameworks. Flask with jinja templating. Auth0 as the Authentication tool. Postgres (SQL) for data storage and retrieval. <br>
            
            <br>

            QUICKFITS: Mobile First Web Application (React) <br>
            ● Designed and implemented  a digital wardrobe which  helps users plan weekly outfits based on Weather API and events.  <br>
            ● Used: Native React as the primary client-side framework, Codehooks.io. for the server side application as well as data storage & retrieval, Clerk as the Authentication tool, Material UI to bring our mockups to life. <br>
             
            <br>

            MN STATE FAIR WAYFINDING APP: A High Fidelity Prototype (Figma) <br>
            ● Conducted multiple rounds of user testing (n = 30, interviews, observation, participatory design) to understand users needs through the process of designing and prototyping a wayfinding tool to enhance user experience at the MN State Fair. <br>


             <br></p>
    </body>
    </html>